// barcode.scss

// utils
@function zpad($n) {
  @return if($n < 10, "0#{$n}", $n);
}

@function bar($bin) {
  $val: calc(255 * (1 - $bin));
  @return rgb(calc($val), calc($val), calc($val));
}

// logical operations
@function not($x) {
  @return calc(1 - $x);
}

@function and($x, $y) {
  @return calc($x * $y);
}

@function and3($x, $y, $z) {
  @return calc($x * $y * $z);
}

@function and4($x, $y, $z, $w) {
  @return calc($x * $y * $z * $w);
}

@function or($x, $y) {
  // x + y
  // = !(!(x + y))
  // = !(!x * !y)
  @return calc(1 - (1 - $x) * (1 - $y));
}

@function or3($x, $y, $z) {
  @return calc(1 - (1 - $x) * (1 - $y) * (1 - $z));
}

@function or4($x, $y, $z, $w) {
  @return calc(1 - (1 - $x) * (1 - $y) * (1 - $z) * (1 - $w));
}
// ---------

:root {
  --bar-width: 3px;
  --bar-height: 100px;

  @for $i from 0 through 11 {
    --d#{zpad($i)}: 0;
  }
}

#barcode {
  display: flex;
  > div {
    display: flex;
  }
  .bar {
    width: var(--bar-width);
    height: var(--bar-height);
  }

  .left-margin,
  .right-margin {
    .bar {
      background: white;
    }
  }

  .left-guardbar,
  .right-guardbar {
    .bar:nth-child(2n - 1) {
      background: black;
    }
  }

  .center-bar {
    .bar.bar:nth-child(2n) {
      background: black;
    }
  }
}

@for $digit from 0 through 11 {
  $cls: "digit#{zpad($digit)}";

  @for $val from 0 through 9 {
    :root:has(.#{$cls} input[value="#{$val}"]:checked) {
      --d#{zpad($digit)}: #{$val};
    }
  }
}

:root {
  --sum-even: calc(
    var(--d00) + var(--d02) + var(--d04) + var(--d06) + var(--d08) + var(--d10)
  );
  --sum-odd: calc(
    var(--d01) + var(--d03) + var(--d05) + var(--d07) + var(--d09) + var(--d11)
  );
  --check-digit: rem(
    calc(10 - rem(calc(var(--sum-odd) * 3 + var(--sum-even)), 10)),
    10
  );
}

#sum-even-digits::after {
  counter-reset: val var(--sum-even);
  content: counter(val);
}

#sum-odd-digits::after {
  counter-reset: val var(--sum-odd);
  content: counter(val);
}

#check-digit::after {
  counter-reset: val var(--check-digit);
  content: counter(val);
}
